/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-reubenj-business-card {
	padding: 1em;
    border-radius: 0.5em;
    max-width: calc(var(--responsive--aligndefault-width)/1.2) !important;
    margin: auto;
}

.fullName {
    margin-top: 0.5em;
    font-size: 1.5em;
}

.wp-block-reubenj-business-card p {
    font-size: 0.9em;
}
